extends ./partials.pug
block content

	section#business.portfolio.sections
		.container.grabplant
				.head_title.text-center
					h1 
						span(style='color:#82ca9c;font-weight:bold')  #{onePlant.plantName}
					p
						strong Omschrijving: 
						| #{onePlant.description}
					p
						strong Aangeboden door: 
						| #{onePlant.user.userName}:
					p 
						strong Aangeboden op: 
						| #{onePlant.createdAt}
					br
						


	//- .container.offers

	//- 	.row
	//- 		.portfolio-wrapper.text-center
	//- 			each key in allPlants
	//- 				.col-md-3.col-sm-6.col-xs-12
	//- 					.community-edition
	//- 						h4 #{key.plantName}
	//- 						.thumbnail
	//- 						a(href='#')
	//- 						img(src='/img/blad.jpeg', alt='Lights', style='width:100%')
							
	//- 						p.offeredby
	//- 						//- | offered by #{key.user.userName}
	//- 						p
	//- 							a(href="/grabplant/?id=" + key.id)
	//- 									| #{key.description}	
							
	//- 						button.form-button(onclick="location.href='/grabplant/?id=';" + key.id) Ja die wil ik
		
	//- IMPORT JS
	//- script(src='js/jquery-3.1.1.js')