extends ./partials.pug
block content
	//- .navbar.navbar-default.transparent
	//- 	.container
	//- 	.navbar-header
	//- 		button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
	//- 			span.sr-only Toggle navigation
	//- 			span.icon-bar
	//- 			span.icon-bar
	//- 			span.icon-bar
	//- 		|
	//- 		a.navbar-brand(href='/') Steksie
	//- 			img(src='img/plant.png', alt='Logo')
	//- 	#bs-example-navbar-collapse-1.collapse.navbar-collapse
	//- 		ul.nav.navbar-nav.navbar-right
	//- 			li.active
	//- 				a(href='/') Home
	//- 			li
	//- 				a(href='/offers') Aanbod
	//- 			li
	//- 				a(href='/addplant') Voeg stekje toe
	//- 			li
	//- 				a(href='/login') Login
	//- 			li
	//- 				a(href='/signup') Sign up
			 
	section#business.portfolio.sections
		.container
				.head_title.text-center
					h1 Hallo
						span(style='color:#82ca9c;font-weight:bold')  #{name}!
					h4 Bekijk stekjes bij jou in de buurt:
					section#business.portfolio.sections

		

						
	.container.offers

		.row
			.portfolio-wrapper.text-center
				.col-md-3.col-sm-6.col-xs-12
					.community-edition
						each key in allPlants
								h4 #{key.plantName}
						.thumbnail
						a(href='#')
						img(src='/img/blad.jpeg', alt='Lights', style='width:100%')
						each key in allPlants
							p.offeredby

								//- | offered by #{key.user.userName}
					
							p
								a(href="/grabplant/?id=" + key.id)
									| Description: Dit is mijn pannenkoekenplant. Mooie He? Wil jij die hebben?
						each key in allPlants		
							button.form-button(onclick="location.href='/grabplant/?id=';" + key.id) Ja die wil ik


				.col-md-3.col-sm-6.col-xs-12
					.community-edition
						each key in allPlants
								h4 #{key.plantName}
						.thumbnail
						a(href='#')
						img(src='/img/blad.jpeg', alt='Lights', style='width:100%')
						each key in allPlants
							p.offeredby
								| offered by #{key.userId}
						p
								| Description: Dit is mijn pannenkoekenplant. Mooie He? Wil jij die hebben?
								
						button.form-button(href='#') Ja die wil ik
				.col-md-3.col-sm-6.col-xs-12
					.community-edition
						each key in allPlants
								h4 #{key.plantName}
						.thumbnail
						a(href='#')
						img(src='/img/blad.jpeg', alt='Lights', style='width:100%')
						each key in allPlants
							p.offeredby
								| offered by #{key.userId}
						p
								| Description: Dit is mijn pannenkoekenplant. Mooie He? Wil jij die hebben?
								
						button.form-button(href='#') Ja die wil ik


						input(class="button form-button" type='button', onclick="location.href='http://google.com';", value='Go to Google')

								
						//- button.form-button(href='#') Ja die wil ik
				
				//- .col-md-3.col-sm-6.col-xs-12
				//- 	.community-edition
				//- 		i.fa.fa-bug
				//- 		.separator
				//- 		h4 Community Edition
				//- 		p
				//- 			| Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.
				//- .col-md-3.col-sm-6.col-xs-12
				//- 	.community-edition
				//- 		i.fa.fa-gears
				//- 		.separator
				//- 		h4 Community Edition
				//- 		p
				//- 			| Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.
				//- .col-md-3.col-sm-6.col-xs-12
				//- 	.community-edition
				//- 		i.fa.fa-external-link
				//- 		.separator
				//- 		h4 Community Edition
				//- 		p
				//- 			| Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.
				

				//- .row
				//- 	.portfolio-wrapper.text-center
				//- 		.col-sm-6.colmd-3.col-xs-12
				//- 			.community-edition
				//- 				i.fa.fa-book
				//- 					.seperator

				//- 			.card(style='width: 20rem;')
				//- 			img.card-img-top.img-responsive(src='/img/pancake.jpg', alt='Card image cap')
				//- 			.card-block
				//- 			each key in allPlants
				//- 				h4.card-title Title: #{key.plantName}
				//- 				p.card-text
				//- 					| Description: #{key.description}
				//- 					p Aangeboden door: #{key.userId}, in CITY
				//- 					p Aangeboden op: #{key.createdAt}
				//- 				|
				//- 				a.btn.btn-primary(href='#') Ja, die wil ik!
			

				






