extends ./partials.pug
block content
	
	//- .navbar.navbar-default.transparent
	//- 	.container
	//- 	.navbar-header
	//- 		button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
	//- 			span.sr-only Toggle navigation
	//- 			span.icon-bar
	//- 			span.icon-bar
	//- 			span.icon-bar
	//- 		|
	//- 		a.navbar-brand(href='/') Steksie
	//- 			img(src='img/plant.png', alt='Logo')
	//- 	#bs-example-navbar-collapse-1.collapse.navbar-collapse
	//- 		ul.nav.navbar-nav.navbar-right
	//- 			li.active
	//- 				a(href='/') Home
	//- 			li
	//- 				a(href='/offers') Aanbod
	//- 			li
	//- 				a(href='/addplant') Voeg stekje toe
	//- 			li
	//- 				a(href='/login') Login
	//- 			li
	//- 				a(href='/signup') Sign up
			 
	section#business.portfolio.sections
		.container.login-wrapper
				.head_title.text-center
					h1 Hallo
						span(style='color:#82ca9c;font-weight:bold')  #{name}!
					h4 Bekijk stekjes bij jou in de buurt:
					section#business.portfolio.sections
					
	


				.category_container
					p.category_item#all All
					p.category_item#Amsterdam Amsterdam
					p.category_item#Rotterdam Rotterdam
					p.category_item#Utrecht Utrecht
					

				.block_container
					//- img(src='/img/Amsterdam.jpg' class='plant_item amsterdam')
					//- img(src='/img/Rotterdam.jpg' class='plant_item rotterdam')
					//- img(src='/img/Utrecht.jpg' class='plant_item utrecht')
					//- img(src='/img/Utrecht.jpg' class='plant_item utrecht')

	
						
	
				.row
					.portfolio-wrapper.text-center
						each plant in allPlants
							div(class="col-md-3 col-sm-6 col-xs-12 plant_item " + plant.user.city)
								.community-edition
									h4 #{plant.plantName}
									p(class="offeredin") #{plant.user.city}
									
									.thumbnail
										img(src="/img/plant.png", alt='Lights', style='width:100%')
									
									p(style=).offeredby Aangeboden door: #{plant.user.userName} 
									
									p
										a(href="/grabplant/?id=" + plant.id)
											//- | #{plant.description}	


											button.form-button#meerinfo(onclick="location.href='/grabplant/?id=';" + plant.id) Meer info

	//- #map

	//- script.
	//- 	function initMap() { 
	//- 		var uluru = {lat: 52.132633, lng: 5.291266};
	//- 		var map = new google.maps.Map(document.getElementById('map'), {
	//- 			zoom: 8,
	//- 			center: uluru
	//- 		});
	//- 		var marker = new google.maps.Marker({
	//- 			position: uluru,
	//- 			map: map
	//- 		});
	//- 	}
	
	//- script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDoPPdYFyfxilJCSTebGPx6Pv0XU53Wzy0&callback=initMap', async defer)

	script(type='text/javascript', src='http://maps.google.com/maps/api/js?sensor=false')

	script(type='text/javascript').
		var addresses = JSON.parse("#{addresses}".replace(/&quot;/g, '\"'))
		//- console.log('addresses')
		//- console.log(addresses)	


		var geocoder;
		var map;
		var address ="Prinsengracht 241, Amsterdam, The Netherlands"; //insert here connection to db!
		
		function initialize() {
			geocoder = new google.maps.Geocoder(); // Access the Google Maps API geocoding service 
			var latlng = new google.maps.LatLng(-34.397, 150.644);
			var myOptions = {
				zoom: 9,
				center: latlng,
				mapTypeControl: true,
				mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
				navigationControl: true,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			};
		
		map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

		for (var i=0; i < addresses.length; i++) {
			if (geocoder) {
				geocoder.geocode( { 'address': addresses[i]}, function(results, status) {
					if (status == google.maps.GeocoderStatus.OK) {
						if (status != google.maps.GeocoderStatus.ZERO_RESULTS) {
							map.setCenter(results[0].geometry.location);
								console.log(results)
								var infowindow = new google.maps.InfoWindow({ 
									content: '<b>'+results[0].formatted_address+'</b>',
									size: new google.maps.Size(150,50)
								});
								
								var marker = new google.maps.Marker({
									position: results[0].geometry.location,
									map: map,
									title:address,
									icon: '/img/miniplant.png'
								});
			
								google.maps.event.addListener(marker, 'click', function() {
									infowindow.open(map,marker);
								});
							} else {
								alert("No results found");
							}
						} else {
							alert("Geocode was not successful for the following reason: " + status);
						}
					});
				}
			}
		}

	body(style='margin:0px; padding:0px;', onload='initialize()')
		#map_canvas(style='width:100%; height:75%')





	



	//- .container.offers

	//- 	.row
	//- 		.portfolio-wrapper.text-center
	//- 			.col-md-3.col-sm-6.col-xs-12   
	//- 				.community-edition
	//- 					each key in allPlants
	//- 							h4 #{key.plantName}
	//- 					.thumbnail
	//- 					a(href='#')
	//- 					img(src='/img/blad.jpeg', alt='Lights', style='width:100%')
	//- 					each key in allPlants
	//- 						//- p.offeredby Offered by: #{key.user.userName}
	//- 						//- p.offeredby In: #{key.user.city}
	//- 							//- | offered by #{key.user.userName}
					
	//- 						p
	//- 							a(href="/grabplant/?id=" + key.id)
	//- 								| Description: Dit is mijn pannenkoekenplant. Mooie He? Wil jij die hebben?
	//- 					each key in allPlants		
	//- 						button.form-button(onclick="location.href='/grabplant/?id=';" + key.id) Ja die wil ik


	//- 			.col-md-3.col-sm-6.col-xs-12
	//- 				.community-edition
	//- 					each key in allPlants
	//- 							h4 #{key.plantName}
	//- 					.thumbnail
	//- 					a(href='#')
	//- 					img(src='/img/blad.jpeg', alt='Lights', style='width:100%')
	//- 					each key in allPlants
	//- 						p.offeredby
	//- 							| offered by #{key.userId}
	//- 					p
	//- 							| Description: Dit is mijn pannenkoekenplant. Mooie He? Wil jij die hebben?















	//- section
	//- 	.container
	//- 		ul.filters
	//- 			li
	//- 				input#filter-categorya(type='checkbox', value='categorya')
	//- 				|  
	//- 				label(for='filter-categorya') Category A
	//- 			li
	//- 				input#filter-categoryb(type='checkbox', value='categoryb')
	//- 				|  
	//- 				label(for='filter-categoryb') Category B
			
	//- 		.categorya.categoryb A, B
	//- 		.categorya A
	//- 		.categorya A
	//- 		.categorya A
	//- 		.categoryb B
	//- 		.categoryb B
	//- 		.categoryb B

	//- //-IMPORT JS
	//- script(src="/js/jquery-3.1.1.js")
	//- script(src="/js/custom.js")
	//- script.
	//- 	$("#filters :checkbox").click(function() {
	//- 		$("div").hide();
	//- 		$("#filters :checkbox:checked").each(function() {
	//- 			$("." + $(this).val()).show();
	//- 		});
	//- 	});
	


			


				






