extends ./partials.pug
block content
			 
	section
		.container.login-wrapper
				.head_title.text-center
					h1 Hallo
						span(style='color:#82ca9c;font-weight:bold')  #{name}!
					h4 Bekijk stekjes bij jou in de buurt:
					section
					

				.category_container
					p.category_item#all All
					p.category_item#Amsterdam Amsterdam
					p.category_item#Rotterdam Rotterdam
					p.category_item#Utrecht Utrecht
	

				.row
					.portfolio-wrapper.text-center
						each plant in allPlants
							div(class="col-md-3 col-sm-6 col-xs-12 plant_item " + plant.user.city)
								.community-edition
									h4 #{plant.plantName}
									p(class="offeredin") #{plant.user.city}
									
									.thumbnail
										img(src="/img/plant.png", alt='Lights', style='width:100%')
									
									p(style=).offeredby Aangeboden door: #{plant.user.userName} 
									
									p
										a(href="/grabplant/?id=" + plant.id)
											//- | #{plant.description}	


											button.form-button#meerinfo(onclick="location.href='/grabplant/?id=';" + plant.id) Meer info

	//- #map

	//- script.
	//- 	function initMap() { 
	//- 		var uluru = {lat: 52.132633, lng: 5.291266};
	//- 		var map = new google.maps.Map(document.getElementById('map'), {
	//- 			zoom: 8,
	//- 			center: uluru
	//- 		});
	//- 		var marker = new google.maps.Marker({
	//- 			position: uluru,
	//- 			map: map
	//- 		});
	//- 	}
	
	//-script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDoPPdYFyfxilJCSTebGPx6Pv0XU53Wzy0&callback=initMap', async defer)

	script(type='text/javascript', src='http://maps.google.com/maps/api/js?key=AIzaSyDoPPdYFyfxilJCSTebGPx6Pv0XU53Wzy0')

	script(type='text/javascript').
		var addresses = JSON.parse("#{addresses}".replace(/&quot;/g, '\"'))
		//- console.log('addresses')
		//- console.log(addresses)	


		var geocoder;
		var map;
		var address ="Prinsengracht 241, Amsterdam, The Netherlands"; //insert here connection to db!
		
		function initialize() {
			geocoder = new google.maps.Geocoder(); // Access the Google Maps API geocoding service 
			var latlng = new google.maps.LatLng(-34.397, 150.644);
			var myOptions = {
				zoom: 9,
				center: latlng,
				mapTypeControl: true,
				mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
				navigationControl: true,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			};
		
		map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

		for (var i=0; i < addresses.length; i++) {
			if (geocoder) {
				geocoder.geocode( { 'address': addresses[i]}, function(results, status) {
					if (status == google.maps.GeocoderStatus.OK) {
						if (status != google.maps.GeocoderStatus.ZERO_RESULTS) {
							map.setCenter(results[0].geometry.location);
								console.log(results)
								var infowindow = new google.maps.InfoWindow({ 
									content: '<b>'+results[0].formatted_address+'</b>',
									size: new google.maps.Size(150,50)
								});
								
								var marker = new google.maps.Marker({
									position: results[0].geometry.location,
									map: map,
									title:address,
									icon: '/img/miniplant.png'
								});
			
								google.maps.event.addListener(marker, 'click', function() {
									infowindow.open(map,marker);
								});
							} else {
								alert("No results found");
							}
						} else {
							alert("Geocode was not successful for the following reason: " + status);
						}
					});
				}
			}
		}

	body(style='margin:0px; padding:0px;', onload='initialize()')
		#map_canvas(style='width:90%; height:75%; margin: 50px')
			


				






